<div>
    <h2 id="page-heading">
        <span>Nodes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-node-inn" [routerLink]="['/node-inn/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Node
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="nodes?.length === 0">
        <span>No nodes found</span>
    </div>
    <div class="table-responsive" *ngIf="nodes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="provisionTime"><span>Provision Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nodeIdentifier"><span>Node Identifier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="unicastAdress"><span>Unicast Adress</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="features"><span>Features</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="appKey"><span>App Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="meshGroup.id"><span>Mesh Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let node of nodes ;trackBy: trackId">
                <td><a [routerLink]="['/node-inn', node.id, 'view' ]">{{node.id}}</a></td>
                <td>{{node.name}}</td>
                <td>{{node.provisionTime | date:'medium'}}</td>
                <td>{{node.nodeIdentifier}}</td>
                <td>{{node.unicastAdress}}</td>
                <td>{{node.features}}</td>
                <td>{{node.appKey}}</td>
                <td>
                    <div *ngIf="node.meshGroup">
                        <a [routerLink]="['/mesh-group-inn', node.meshGroup?.id, 'view' ]" >{{node.meshGroup?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/node-inn', node.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/node-inn', node.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/node-inn', { outlets: { popup: node.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
