<div>
    <h2 id="page-heading">
        <span>Nodes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-node-inn" [routerLink]="['/node-inn/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Node
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="nodes?.length === 0">
        <span>No nodes found</span>
    </div>
    <div class="table-responsive" *ngIf="nodes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="unicastAddress"><span>Unicast Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="configComplete"><span>Config Complete</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="defaultTTL"><span>Default TTL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cid"><span>Cid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="blacklisted"><span>Blacklisted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="uUID"><span>U UID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="security"><span>Security</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="crpl"><span>Crpl</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deviceKey"><span>Device Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="vid"><span>Vid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="pid"><span>Pid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="features.id"><span>Features</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="networkConfiguration.id"><span>Network Configuration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let node of nodes ;trackBy: trackId">
                <td><a [routerLink]="['/node-inn', node.id, 'view' ]">{{node.id}}</a></td>
                <td>{{node.unicastAddress}}</td>
                <td>{{node.configComplete}}</td>
                <td>{{node.defaultTTL}}</td>
                <td>{{node.cid}}</td>
                <td>{{node.blacklisted}}</td>
                <td>{{node.uUID}}</td>
                <td>{{node.security}}</td>
                <td>{{node.crpl}}</td>
                <td>{{node.name}}</td>
                <td>{{node.deviceKey}}</td>
                <td>{{node.vid}}</td>
                <td>{{node.pid}}</td>
                <td>
                    <div *ngIf="node.features">
                        <a [routerLink]="['/features', node.features?.id, 'view' ]" >{{node.features?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="node.networkConfiguration">
                        <a [routerLink]="['/network-configuration', node.networkConfiguration?.id, 'view' ]" >{{node.networkConfiguration?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/node-inn', node.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/node-inn', node.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/node-inn', { outlets: { popup: node.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
