<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="node">
            <h2><span>Node</span> {{node.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Unicast Address</span></dt>
                <dd>
                    <span>{{node.unicastAddress}}</span>
                </dd>
                <dt><span>Config Complete</span></dt>
                <dd>
                    <span>{{node.configComplete}}</span>
                </dd>
                <dt><span>Default TTL</span></dt>
                <dd>
                    <span>{{node.defaultTTL}}</span>
                </dd>
                <dt><span>Cid</span></dt>
                <dd>
                    <span>{{node.cid}}</span>
                </dd>
                <dt><span>Blacklisted</span></dt>
                <dd>
                    <span>{{node.blacklisted}}</span>
                </dd>
                <dt><span>U UID</span></dt>
                <dd>
                    <span>{{node.uUID}}</span>
                </dd>
                <dt><span>Security</span></dt>
                <dd>
                    <span>{{node.security}}</span>
                </dd>
                <dt><span>Crpl</span></dt>
                <dd>
                    <span>{{node.crpl}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{node.name}}</span>
                </dd>
                <dt><span>Device Key</span></dt>
                <dd>
                    <span>{{node.deviceKey}}</span>
                </dd>
                <dt><span>Vid</span></dt>
                <dd>
                    <span>{{node.vid}}</span>
                </dd>
                <dt><span>Pid</span></dt>
                <dd>
                    <span>{{node.pid}}</span>
                </dd>
                <dt><span>Features</span></dt>
                <dd>
                    <div *ngIf="node.features">
                        <a [routerLink]="['/features', node.features?.id, 'view']">{{node.features?.id}}</a>
                    </div>
                </dd>
                <dt><span>Network Configuration</span></dt>
                <dd>
                    <div *ngIf="node.networkConfiguration">
                        <a [routerLink]="['/network-configuration', node.networkConfiguration?.id, 'view']">{{node.networkConfiguration?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/node-inn', node.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
