<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appUser">
            <h2><span>App User</span> {{appUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{appUser.name}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{appUser.password}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{appUser.email}}</span>
                </dd>
                <dt><span>Domain</span></dt>
                <dd>
                    <span>{{appUser.domain}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="appUser.customer">
                        <a [routerLink]="['/customer-inn', appUser.customer?.id, 'view']">{{appUser.customer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/app-user-inn', appUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
