<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-network-inn-heading">Create or edit a Network</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gobalTTL">Gobal TTL</label>
                    <input type="number" class="form-control" name="gobalTTL" id="field_gobalTTL"
                           formControlName="gobalTTL"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_unicast">Unicast</label>
                    <input type="number" class="form-control" name="unicast" id="field_unicast"
                           formControlName="unicast"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_networkKey">Network Key</label>
                    <input type="text" class="form-control" name="networkKey" id="field_networkKey"
                           formControlName="networkKey"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_keyIndex">Key Index</label>
                    <input type="number" class="form-control" name="keyIndex" id="field_keyIndex"
                           formControlName="keyIndex"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_flagRefreshPhase">Flag Refresh Phase</label>
                    <input type="number" class="form-control" name="flagRefreshPhase" id="field_flagRefreshPhase"
                           formControlName="flagRefreshPhase"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_flagIVUpdate">Flag IV Update</label>
                    <input type="number" class="form-control" name="flagIVUpdate" id="field_flagIVUpdate"
                           formControlName="flagIVUpdate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ivIndex">Iv Index</label>
                    <input type="number" class="form-control" name="ivIndex" id="field_ivIndex"
                           formControlName="ivIndex"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_appKey">App Key</label>
                    <input type="text" class="form-control" name="appKey" id="field_appKey"
                           formControlName="appKey"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_facility">Facility</label>
                    <select class="form-control" id="field_facility" name="facility" formControlName="facility">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="facilityOption.id === editForm.get('facility').value?.id ? editForm.get('facility').value : facilityOption" *ngFor="let facilityOption of facilities; trackBy: trackFacilityById">{{facilityOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
