<div>
    <h2 id="page-heading">
        <span>Networks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-network-inn" [routerLink]="['/network-inn/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Network
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="networks?.length === 0">
        <span>No networks found</span>
    </div>
    <div class="table-responsive" *ngIf="networks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="gobalTTL"><span>Gobal TTL</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="unicast"><span>Unicast</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="networkKey"><span>Network Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="keyIndex"><span>Key Index</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="flagRefreshPhase"><span>Flag Refresh Phase</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="flagIVUpdate"><span>Flag IV Update</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ivIndex"><span>Iv Index</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="appKey"><span>App Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="facility.id"><span>Facility</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let network of networks ;trackBy: trackId">
                <td><a [routerLink]="['/network-inn', network.id, 'view' ]">{{network.id}}</a></td>
                <td>{{network.name}}</td>
                <td>{{network.gobalTTL}}</td>
                <td>{{network.unicast}}</td>
                <td>{{network.networkKey}}</td>
                <td>{{network.keyIndex}}</td>
                <td>{{network.flagRefreshPhase}}</td>
                <td>{{network.flagIVUpdate}}</td>
                <td>{{network.ivIndex}}</td>
                <td>{{network.appKey}}</td>
                <td>
                    <div *ngIf="network.facility">
                        <a [routerLink]="['/facility-inn', network.facility?.id, 'view' ]" >{{network.facility?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/network-inn', network.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/network-inn', network.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/network-inn', { outlets: { popup: network.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
